#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* DANISH LAYOUT ALIASES FOR LINUX OS */
#define DK_AA   &kp LBKT
#define DK_AE   &kp SEMI
#define DK_OO   &kp APOS
#define DK_MINS &kp SLASH
#define DK_PLUS &kp MINUS
#define DK_EQL  &kp LS(N0)
#define DK_SLSH &kp LS(N7)
#define DK_ASTR &kp LS(BSLS)
#define DK_SQT  &kp BSLS
#define DK_DQOT &kp LS(N2)
#define DK_AMPR &kp LS(N6)
#define DK_PERC &kp LS(N5)
#define DK_C_RT &kp LS(RBKT)
#define DK_SCLN &kp LS(COMMA)
#define DK_COLN &kp LS(DOT)
#define DK_LPAR &kp LS(N8)
#define DK_RPAR &kp LS(N9)
#define DK_EXCL &kp LS(N1)
#define DK_AT   &kp RA(N2)
#define DK_HASH &kp LS(N3)
#define DK_PIPE &kp RA(EQUAL)
#define DK_TILD &kp RA(RBKT)
#define DK_LBRC &kp RA(N7)
#define DK_RBRC &kp RA(N0)
#define DK_LBKT &kp RA(N8)
#define DK_RBKT &kp RA(N9)
#define DK_QST  &kp LS(MINUS)
#define DK_BSLS &kp RA(NON_US_BSLH)
#define DK_GRV  &kp LS(EQUAL)
#define DK_DOLR &kp RA(N4)

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        ALPHA {
            bindings = <
&kp LSHFT         &kp Q  &kp W  &kp E  &kp R                &kp T                                     &kp Y            &kp U      &kp I      &kp O    &kp P    DK_AA
&kp LEFT_CONTROL  &kp A  &kp S  &kp D  &kp F                &kp G                                     &kp H            &kp J      &kp K      &kp L    DK_AE    DK_OO
                  &kp Z  &kp X  &kp C  &kp V                &kp B                                     &kp N            &kp M      &kp COMMA  &kp DOT  DK_MINS
                                &mo 4  &mt LEFT_GUI DELETE  &kp SPACE  &mt LEFT_ALT ENTER  &lt 3 ESC  &lt 2 BACKSPACE  &lt 1 TAB  &mo 4
            >;
        };

        NAV {
            bindings = <
&kp LSHFT  &none  &none  &none          &none   &none                    &kp HOME        &kp PAGE_DOWN         &kp PG_UP             &kp END                &none  &none
&kp LCTRL  &none  &none  &kp LS(LG(S))  &none   &none                    &kp LEFT        &kp DOWN              &kp UP                &kp RIGHT              &none  &none
           &none  &none  &none          &none   &none                    &kp LG(LA(N1))  &kp LG(LA(NUMBER_2))  &kp LG(LA(NUMBER_3))  &kp LA(LG(NUMBER_4))  &none
                         &trans         &trans  &trans  &trans   &trans  &trans          &trans                &trans
            >;
        };

        SYM {
            bindings = <
&trans  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP            DK_LBRC  DK_RBRC  DK_MINS  DK_EQL   DK_DQOT  DK_GRV
&trans  DK_AMPR     DK_PERC           DK_C_RT     DK_SCLN            DK_COLN                    DK_LPAR  DK_RPAR  DK_PLUS  DK_ASTR  DK_SQT   DK_DOLR
        DK_EXCL     DK_AT             DK_HASH     DK_PIPE            DK_TILD                    DK_LBKT  DK_RBKT  DK_QST   DK_BSLS  DK_AMPR
                                      &trans      &trans             &trans           &trans    &trans   &trans   &trans   &trans
            >;
        };

        NUM {
            bindings = <
&trans  DK_SLSH  &kp N7  &kp N8  &kp N9  DK_MINS                  DK_SLSH  &kp N7  &kp N8  &kp N9  DK_MINS  &none
&trans  DK_ASTR  &kp N4  &kp N5  &kp N6  DK_PLUS                  DK_ASTR  &kp N4  &kp N5  &kp N6  DK_PLUS  &none
        &kp N0   &kp N1  &kp N2  &kp N3  DK_EQL                   &kp N0   &kp N1  &kp N2  &kp N3  DK_EQL
                         &trans  &trans  &trans   &trans  &trans  &trans   &trans  &trans
            >;
        };

        BL_FN {
            bindings = <
&bt BT_CLR      &none  &none  &none       &none       &bootloader                  &bootloader  &kp F1  &kp F2   &kp F3   &kp F4   &none
&bt BT_CLR_ALL  &none  &none  &bt BT_PRV  &bt BT_NXT  &none                        &none        &kp F5  &kp F6   &kp F7   &kp F8   &none
                &none  &none  &none       &none       &none                        &none        &kp F9  &kp F10  &kp F11  &kp F12
                               &trans      &trans      &trans       &trans  &trans  &trans       &trans  &trans
            >;
        };
    };
};
